<table style="border: 1px red solid;">
  <tr style="border: 1px red solid;">
    <td style="border: 1px red solid;">
      <app-left-componant></app-left-componant>
    </td>
    <td style="border: 1px red solid;">
      <router-outlet></router-outlet>
    </td>
    <td style="border: 1px red solid;">
      <app-right-componant></app-right-componant>
    </td>
  </tr>
  <tr colspan="3" style="border: 1px red solid;">
    <td style="border: 1px red solid;">
      <app-footer-componant></app-footer-componant>
    </td>
  </tr>

</table>